{% extends 'base.html' %}

{% block content %}
<main role="main" style="background-color:cornflowerblue">
    <div class="home">
        <div class="hometext">
            <h1 class="topheading">Register</h1>
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <br>
                    <input type="email" class="form-control" style="float: right; width:auto" id="usernameinput"
                        name="username" placeholder="Email Address">
                </div>
                <br>
                <div class="form-group">
                    <br>
                    <input type="password" class="form-control" style="float: right; width:auto" id="password1input"
                        name="password1" placeholder="Password">
                </div>
                <br>
                <div class="form-group">
                    <br>
                    <input type="password" class="form-control" style="float: right; width:auto" id="password2input"
                        name="password2" placeholder="Confirm Password">
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-light">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}