{% extends 'base.html' %}

{% block content %}
<main role="main" style="background-color:cornflowerblue">
        <div class="home">
            <div class="hometext">
                <h1 class="topheading">zuru.io</h1>
                <div class="land">
                    <h4>free URL shortener and temporary file upload</h4>
                    <button class="btn btn-light"><i class="fas fa-link"></i> Shorten URL</button>
                    <button class="btn btn-light"><i class="fas fa-upload"></i> Upload a File</button>
                </div>
                <div class="shorten">
                    <h5>Enter the URL you want to shorten</h5>
                </div>
            </div>
        </div>
    </main>
{% endblock %}